@use 'sass:color';
@import './../../index.scss';

.intro {
    background-color: $primary-color;
    height: 100vh;
    display: flex;  // Use flexbox
    justify-content: center;  // Center horizontally
    align-items: center;  // Center vertically
    flex-direction: column;
    min-height: 720px;

    h1{
        font-size: 40px;
    }

    .description{
        width: 800px;
        font-size: 20px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 24px;
    }

    .btn-resume-download{
        background-color: $secondary-color;
        color: $primary-color;
        padding: 8px;
        font-size: 24px;
        font-weight: bold;
        border: none;
        border-radius: 12px;
        margin: 8px 0;
        &:hover{
            opacity: 0.8;
            transition: padding 0.5s ease-in;
            cursor: pointer;
        }
    }

    
}

.name{
    font-size: 64px;
    font-weight: 700;
}

.last-name{
    background-color: $secondary-color;
    color: $tertiary-color;
    padding: 0 32px;
    border-radius: 8px;
}

.status-bar{
    position:sticky;
    top: 0;
    min-height: 64px;
    background-color: $secondary-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $tertiary-color;
    font-size: 20px;
    font-weight: 700;
    padding: 4px 16px;
}

.social{
    margin: 32px 0 0 0;
}

.social-icon{
    display: inline;
    font-size: 48px;
    color: $secondary-color;
    padding: 16px;
}

@media (max-width: $m-width){
    .name{
        font-size: 48px;
    }

    .intro{
        h1{
            font-size: 32px;
        }

        .description{
            width: 80%;
            font-size: 16px;
        }
    }
}

@media (max-width: $xs-width) {
    .name{
        font-size: 32px;
    }

    .last-name{
        padding: 0 8px;
    }

    .intro{
        h1{
            font-size: 24px;
        }

        .description{
            width: 80%;
            font-size: 16px;
        }
    }

    .status-bar{
        min-height: 64px;
        font-size: 12px;
    }
    
}
