@use 'sass:color';
@import './../../index.scss';

.intro {
    background-color: $primary-color;
    height: 100vh;
    display: flex;  // Use flexbox
    justify-content: center;  // Center horizontally
    align-items: center;  // Center vertically
    flex-direction: column;
    min-height: 540px;

    .profile-pic-outer-ring{
        background-color: $secondary-color;
        padding: 16px;
        border-radius: 50%;

        .profile-pic-inner-ring{
            background-color: white;
            padding: 8px;
            border-radius: 49%;

            img{
                width: 320px;
                border-radius: 50%;
                object-fit: contain;
            }
        }
    }

    h1{
        font-size: 40px;
    }

    .description{
        width: 800px;
        font-size: 20px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 24px;
    }

    .btn-resume-download{
        background-color: $secondary-color;
        color: $primary-color;
        padding: 8px;
        font-size: 24px;
        font-weight: bold;
        border: none;
        border-radius: 12px;
        margin: 8px 0;
        &:hover{
            opacity: 0.8;
            transition: padding 0.5s ease-in;
            cursor: pointer;
        }
    }

    
}

@media (max-width: $xs-width), (max-height: 767px) {
    .intro{
        .profile-pic-outer-ring{
            
            .profile-pic-inner-ring{
                img{
                    width: 240px;
                }
            }
        }

        h1{
            font-size: 24px;
        }

        .description{
            width: 80%;
            font-size: 16px;
            font-weight: 100;
            text-align: center;
            margin-bottom: 24px;
        }
    }

    
}

.status-bar{
    position:sticky;
    top: 0;
    min-height: 64px;
    background-color: $secondary-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $tertiary-color;
    font-size: 20px;
    font-weight: 700;
}