@import './../../index.scss';

.skills{
    color: $secondary-color;
    padding-bottom: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.skills-sub{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills-list{
    text-align: center;
}

@media (max-width: $l-width){
    .skills{
        margin: 0 16px;
    }

    .skills-sub h2{
        font-size: 24px;
    }
}